*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #dff9fb;
}


.nav{
    background-color: black;
    background-position: center;
    width:auto;
    height: 70px;
    box-shadow: -10px -10px 50px black;
}

.img1{
    background-position: center;
    background-image: url(https://www.startech.com.bd/image/catalog/logo.png);
    background-color: black;
    margin-left: 45%;
}


.box1{
    background-color: white;
    width: 100%;
    height: 150px;
}


.sugg1{
    border: 1px solid powderblue;
    background-color: white;
    margin-top: 40px;
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    font-size: 15px;
    color: #130f40;
    font-weight: 300;
    float: left;
    margin-left: 20px;
}

.box2{
    width: 300px;
    height: auto;
    /* background-image: url(https://www.startech.com.bd/image/cache/catalog/gaming-chair/havit/gc933/gc933-01-228x228.webp); */
    background-repeat: no-repeat;
    margin-top: 20px;
    /* border: 2px solid black; */
    background-color: white;
    box-shadow: 1px 0px 50px gray;
    border-radius: 10px;
    float: left;
    margin-left: 15px;
}

.box2 .heading1{
    background-color: white;
}

.list{
    background-color: white;
}

.price1{
    margin-left: 40%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    
}


.button1{
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 35%;
}

.button2{
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 27%;
    margin-bottom: 20px;
}